.search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
  }
  
  .input {
    font-family: inherit;
    font-size: inherit;
    background-color: #f4f2f2;
    border: none;
    color: #646464;
    padding: 0.7rem 1rem;
    border-radius: 30px;
    width: 12em;
    transition: all ease-in-out .5s;
    margin-right: -5rem;
  }
  
  .input:hover, .search__input:focus {
    box-shadow: 0 0 1em #00000013;
    width: 15em;
  }
  
  .input:focus {
    outline: none;
  }
  
  .input::-webkit-input-placeholder {
    font-weight: 100;
    color: #ccc;
  }
  
  .input:focus + .search__button {
    background-color: #f0eeee;
  }
  
  .button {
    border: none;
    background-color: #f4f2f2;
    margin-top: .1em;
  }
  
  .button:hover {
    cursor: pointer;
  }
  
  .search__icon {
    height: 1.3em;
    width: 1.3em;
    fill: #b4b4b4;
  }